@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}

.product-added {
  @apply border-solid border-4 border-sky-500;
}

/* Cart Notification */
.--alert-notification {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* change svg color to hospital green */
.color-hospital-green {
  filter: invert(88%) sepia(10%) saturate(779%) hue-rotate(77deg)
    brightness(95%) contrast(85%);
}

.slide-btn {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #f7f7f7;
  border: 1px solid #c7c7c7;
  border-radius: 50%;
  cursor: pointer;
}

.--slide-selected {
  display: flex;
  justify-content: center;
  align-items: center;
}

.--btn-selected {
  background-color: #c7c7c7;
}

.--add-to-cart-btn {
  background-color: #acd9b2;
  color: white;
}
.--added-to-cart-btn {
  background-color: white;
  color: #acd9b2;
}
